div{

    border-style: solid;
    height: 100px;
}

.div1{

background-color: red;
position:static;
top:0px;
left:15px;

}

.div2{

background-color:rebeccapurple; 
position: absolute;
bottom: 0px;
width: 100px;
top:0px;

}

.div3{

background-color:darkgoldenrod;
position:fixed;
bottom:100px;
width:100px;
top:50px;



}