/* ELEMENT Selektor*/

div{
    background-color: aquamarine;
}

/* ID Selektor */

#Header{

    font-size: 2rem;

}



/*Klassenselector*/


.Subtitle{

    color:red;
    font-size: large;
}


#Kinder p{

    color:blue;
    background-color: blueviolet;
}


